@{
    Layout = null;
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-2.1.1.js"></script>
</head>
<body>
    <div style="position: relative">
        
        <div style="position: relative; margin: 0 auto; display: block; width: 30%; text-align: center; padding-right:40px">
         @*   <h1>Tarrific Dev Test</h1>*@
            <form action="~/Home/AddQuote" method="POST">
                <div >
                    <div>Please enter the author's name: </div>
                    <div style="margin-bottom: 20px">
                        <input type="text" name="Author" required /></div>

                    <div>Please enter your quote: </div>
                    <div style="margin-bottom: 20px">
                        <input type="text" name="Quote" required /></div>

                    <div>Please enter your mood or emotion: </div>
                    <div style="margin-bottom: 20px">
                        <input type="text" name="Emotion" required /></div>

                    <div>Please enter the source of the quote: </div>
                    <div style="margin-bottom: 20px">
                        <input type="text" name="Source" required /></div>

                    <input type="submit" value="Submit" />
                </div>
            </form>
            <div style="margin-top:20px">@TempData["Result"] </div>
            @if (TempData["Result"] != null)
            {
                 <div style="margin-top:20px">You can view your quote on Twitter by following this link: <a target="_blank" href='https://twitter.com/TestMctests'>Click Me</a></div>
            }
            <div style="margin-top:20px">
                <div>
                    <button id="viewMoods">View amount of quotes per mood.</button>
                     <div style="text-align:left;margin-top:20px" id="MoodResults"></div>
                    </div>
                <div style="margin-top:20px"><button id="searchMoods">Search for moods.</button></div>
                 
                  <div style="display:none;margin: 10px 0 10px 0" id="MoodSearch">
                    <div style="margin: 10px 0 10px 0"><input type="text" id="moodSearchText" placeholder="Enter mood to seach for"/></div>
                    
                           <div style="text-align:left;margin-top:20px" id="MoodSearchResults"></div>
                </div>
               <div style="margin-top:20px"> <button id="searchQuotes">Search for quotes.</button></div>
              
                <div style="display:none;margin: 10px 0 10px 0" id="QuoteSearch">
                    <div style="margin: 10px 0 10px 0"><input type="text" id="quoteSearchText" placeholder="Enter quote to search for"/></div>
                   
                     <div style="text-align:left;margin-top:20px" id="QuoteResults"></div>
                </div>
              
            <div style="margin-top:20px"> 
                <button id="MultiThread">Multithreading Strings</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $("#viewMoods").on("click", function() {
                $.ajax({
                    type: 'GET',
                    url: '/api/MoodCount/QuotesPerMood',
                    async: true,
                    success: function(data) {
                        var result = $.parseJSON(data);
                        $("#MoodResults").empty();
                        $("#MoodResults").append("Mood : Number of Quotes");
                        for (var key in result) {
                            $("#MoodResults").append("<div style='text-align: left;margin: 10px 0 10px 0'>" + key + " : " + result[key] + "</div>");
                        }

                    }
                });
            });
            $("#searchMoods").on("click", function() {
                $("#MoodSearch").show();
            });
            $("#searchQuotes").on("click", function() {
                $("#QuoteSearch").show();
            });

            $("#MultiThread").on("click", function() {
                window.location.href = "/home/multithreading";
            });
            $("#moodSearchText").on("keyup", function(e) {
                if ($("#moodSearchText").val().length > 0) {
                    var searchString = { "searchString": $("#moodSearchText").val() };
                    $.ajax({
                        type: 'POST',
                        url: '/api/MoodSearch/SearchMood',
                        data: JSON.stringify(searchString),
                        contentType: 'application/json; charset=utf-8',
                        async: false,
                        success: function (data) {
                            var result = $.parseJSON(data);
                            $("#MoodSearchResults").empty();
                            if (result.length > 0) {
                                $("#MoodSearchResults").append("Mood : Quote");
                                for (var key in result) {
                                    $("#MoodSearchResults").append("<div style='text-align: left;margin: 10px 0 10px 0'>" + result[key].Emotion + " : " + result[key].Quote + "</div>");
                                }
                            } else {
                                $("#MoodSearchResults").empty().append("No quotes match that emotion or mood. Please try another one.");
                            }
                            

                        }
                    });
                } else {
                    $("#MoodSearchResults").empty().append("Please enter at least 1 characters for the search to work.");
                }
            });
            
            $("#quoteSearchText").on("keyup", function (e) {
                if ($("#quoteSearchText").val().length > 0) {
                    var searchString = { "searchString": $("#quoteSearchText").val() };
                    $.ajax({
                        type: 'POST',
                        url: '/api/QuoteSearch/SearchQuote',
                        data: JSON.stringify(searchString),
                        contentType: 'application/json; charset=utf-8',
                        async: false,
                        success: function (data) {
                            var result = $.parseJSON(data);
                            $("#QuoteResults").empty();
                            if (result.length > 0) {
                                $("#QuoteResults").append("Quotes");
                                for (var key in result) {
                                    $("#QuoteResults").append("<div style='text-align: left;margin: 10px 0 10px 0'>" + result[key].Quote + "</div>");
                                }
                            } else {
                                $("#QuoteResults").empty().append("No quotes match that word or sentence. Please try another one.");
                            }


                        }
                    });
                } else {
                    $("#QuoteResults").empty().append("Please enter at least 1 characters for the search to work.");
                }
            });

        })
    </script>
</body>
</html>
