@{
    Layout = null;
    List<string> quotes = new List<string>();
    if (TempData["TransformedQuotes"] != null)
    {
        quotes = (List<string>)TempData["TransformedQuotes"];
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MultiThreading</title>
</head>
<body>
    <div>
        @if (TempData["TransformedQuotes"] != null)
        {
            foreach (string s in quotes)
            {
                <div>@s</div>
            }
        }
    </div>
</body>
</html>
